.hero-section-bg-line {
    height: 700px;
    width: 680px;
    left: 70%;
    top: -1%;
    right: 0;
    bottom: 0;
    color: transparent;
}

@media screen and (max-width: 768px) {
    .hero-section-bg-line {
        height: 420px;
        width: 340px;
        left: 0px;
        top: -7px;
    }

}